*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color:#fff;
}
.main_form{
    width:60%;
    margin:0 auto;
}


.crform .title{
    width: 70%;
    margin:0px auto;
}
.crform .title h2{
    font-size:45px;
    line-height: 60px;
    margin:0px 0px 50px 0px;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px double #fff;
    padding:7px 0px;
}

.crform .table{
    border-radius: 12px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}